html, body {
    height: 100%;
}
.title-box {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    flex: 1 1 auto;
    max-height: 600px;
    padding: 1rem 2rem 0;
}
.title {
    flex: 1 1 auto;
    display: inline-block;
    font-family: quicksand;
    font-size: 5em;
    font-weight: 400;
    text-align: center;
}

@media (min-width: 768px) {
    .title-box {
        flex-direction: row;
    }
}
